@font-face {
font-family: "nikestyle";
src: url("../snkrs/Futura.otf") format("opentype");
}

body{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=54884), auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 80vh;
  text-align: center;
  font-size: 6vh;
  font-family: nikestyle;
  color: black;
}

@keyframes logoSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes colorSwap {
  0% {
    fill: default;
  }
  100% {
    fill: #F8B147;
  }
}

@keyframes fade {
  0% {
    color: black;
  }
 20% {
    color: white;
  } 
  92% {
    color: white;
  } 
  100% {
   color: black;
  }
}

#logo {
  animation: logoSpin 10s ease-out infinite;
  animation-delay: 2s;
}

#logo path {
  animation: colorSwap 5s ease-in infinite alternate;
  animation-delay: 2s;
}

.tagline {
animation-delay: 2s;
animation: fade 10s ease-in infinite;
}