body {
	line-height: 1.5;
	background-image: url("eviltread.jpg");
	background-size: 11vw;
	background-repeat: repeat;
}

@font-face {
  font-family: "GT-America-Mono-Regular";
  src: url("../fonts/GT-America-Mono-Regular.eot");
  src: url("../fonts/GT-America-Mono-Regular?#iefix") format('embedded-opentype'),
       url("../fonts/GT-America-Mono-Regular.woff2") format('woff2'), 
       url("../fonts/GT-America-Mono-Regular.woff") format('woff'),
       url("../fonts/GT-America-Mono-Regular.ttf")  format('truetype');
}

@font-face {
  font-family: "GT-America-Standard-Light";
  src: url("../fonts/GT-America-Standard-Light.eot");
  src: url("../fonts/GT-America-Standard-Light?#iefix") format('embedded-opentype'),
       url("../fonts/GT-America-Standard-Light.woff2") format('woff2'), 
       url("../fonts/GT-America-Standard-Light.woff") format('woff'),
       url("../fonts/GT-America-Standard-Light.ttf")  format('truetype');
}

.textwrapper {
	font-family: GT-America-Standard-Light;
	background-color:  #ccf2ff;
	text-align: left;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	font-size: 4vh;
	margin: 10vw;
	padding: 0vh 2vw 0vh 2vw;
	text-indent: 10%;
	text-transform: lowercase;
}

h1 {
	font-family: GT-America-Mono-Regular;
	text-align: center;
	text-indent: 0%;
	transform: rotate(350deg) skewX(15deg);
	text-transform: capitalize;
	padding-top: 7vh;
	padding-bottom: 7vh;
}

h2 {
	font-family: GT-America-Mono-Regular;
	text-align: center;
	text-indent: 0%;
	text-transform: uppercase;
	transform: rotate(15deg) skewX(15deg);
	}

h3 {
	font-family: GT-America-Mono-Regular;
	text-align: center;
	text-indent: 0%;
	text-shadow: 2px 2px 8px;
	text-transform: capitalize;
	transform: rotate(30deg) skewX(30deg);
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.emphasis {
	float: left;
	text-emphasis: filled sesame; 
 -webkit-text-emphasis: filled sesame;
	background-color: #ffcc99;
	text-decoration: underline;
	font-style: italic;

}