@font-face {
font-family: "nikestyle";
src: url("../snkrs/Futura.otf") format("opentype");
}

@font-face {
font-family: "Futura LtCn BT";
src: url("../snkrs/FuturaBT-LightCondensed.woff") format("woff");
}

body {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=54884), auto;
  margin: 3vh 20vw 17vh 20vw;
  padding: 10px;
  align-items: center;
  text-align: center;
  font-family: 'Futura LtCn BT';
  font-weight: 300;
  font-style: normal;
  font-size: 5vh;
}

div.nikestyleheader {
  position: -webkit-sticky;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  top: 0vh;
  width: 60vw;
  height: 10vh;
  background-color: white;
  text-align: center;
  font-size: 4vh;
  font-family: nikestyle;
  color: black;
  display: inline-block;
}

div.snkrsstyleheader {
  font-style: italic;
  font-size: 6vh;
  font-family: nikestyle;
  color: #fb0618;
  display: inline-block;

}

@keyframes lagpopupfade {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
 11% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  } 
  19% {
    opacity: 0;
  } 
  100% {
   opacity: 0;
  }
}

.lagpopup {
position: absolute;
top: 1150px;
left: 426px;
animation: lagpopupfade 46s ease-in infinite;
color: #F8B147;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

.buzz {
font-size: 5vh;
font-family: nikestyle;
color: black;
animation: shake .6s infinite alternate;
}


@keyframes reactionpopupfade {
  0% {
  opacity: 0;
  }
 20% {
   opacity: 1;
  }
  80% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.reaction1 {
position: absolute;
top: 7300px;
left: 910px;
animation: reactionpopupfade 3s ease-in infinite;
color: #F8B147;
}

.reaction2 {
position: absolute;
top: 7375px;
left: 350px;
animation: reactionpopupfade 3.5s ease-in infinite;
color: #F8B147;
}

.reaction3 {
position: absolute;
top: 7175px;
left: 450px;
animation: reactionpopupfade 5s ease-in infinite;
color: green;
}

.reaction4 {
position: absolute;
top: 7475px;
left: 500px;
animation: reactionpopupfade 3.75s ease-in infinite;
color: green;
}

.reaction5 {
position: absolute;
top: 7525px;
left: 1000px;
animation: reactionpopupfade 4s ease-in infinite;
color: green;
}

.reaction6 {
position: absolute;
top: 7200px;
left: 1020px;
animation: reactionpopupfade 3.25s ease-in infinite;
}

.reaction7 {
position: absolute;
top: 7400px;
left: 875px;
animation: reactionpopupfade 4.75s ease-in infinite;
}

.reaction8 {
position: absolute;
top: 7225px;
left: 550px;
animation: reactionpopupfade 4.25s ease-in infinite;
}


@keyframes answerpopupfade {
  0% {
    opacity: 0;
  }
 20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
   opacity: 0;
  }
}

.answer1 {
position: absolute;
top: 10555px;
left: 910px;
animation: answerpopupfade 3s ease-in infinite;
animation-delay: 0.33333s;
color: #F8B147;
}

.answer2 {
position: absolute;
top: 10685px;
left: 910px;
animation: answerpopupfade 4s ease-in infinite;
animation-delay: 1s;
color: #F8B147;
}

.answer3 {
position: absolute;
top: 10815px;
left: 910px;
animation: answerpopupfade 10s ease-in infinite;
animation-delay: 2s;
color: green;
}

.footer, .footer:visited {
  color: blue;
  text-decoration: none;
}

.footer:hover,.footer:active {
  transition: all 1.5s ease;
  font-size: 6vh;
  color: #fb0618;
  text-decoration: underline;
}

.tagline {
  text-align: center;
  font-size: 6vh;
  font-family: nikestyle;
  color: black;
}

@keyframes logoSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes colorSwap {
  0% {
    fill: default;
  }
  100% {
    fill: #F8B147;
  }
}

@keyframes fade {
  0% {
    color: black;
  }
 20% {
    color: white;
  } 
  93% {
    color: white;
  } 
  100% {
   color: black;
  }
}

#logo {
  animation: logoSpin 10s ease-out infinite;
  animation-delay: 2s;
}

#logo path {
  animation: colorSwap 5s ease-in infinite alternate;
  animation-delay: 2s;
}

.tagline {
animation-delay: 2.0s;
animation: fade 10.0s infinite;
}