
body {
    font-family: times, serif;
    text-align: left;
    font-size: 25px;
    line-height: 1.5;
}


.versionone {
	font-family: times, Serif;
  }


.courier {
  font-family: "courier";
}


.verdana {
  font-family: "verdana";
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.lightopensans {
  font-family: 'Open Sans', sans-serif;
}

.heavyopensans {
font-family: 'Open Sans', sans-serif;
font-weight: 400px;
font-style: italic;
}